.img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img--circle {
  border-radius: 50%;
}

.img--chevron-icon {
  height: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
