.build-basket-module {
  background-image: url("../../images/footer-getstarted@2x.jpg");
  background-size: cover;
  height: 400px;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  display: flex;
  align-items: center;
}

.build-basket-module__content {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
}

.build-basket-module__head {
  font-family: Zangezi;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.build-basket-module__button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.build-basket-module__subhead {
  font-size: 14px;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.build-basket-module__subhead .link {
  display: inline;
}

@media screen and (max-width: 768px) {
  .build-basket-module {
    background-image: url("../../images/footer-getstarted-4x5@2x.jpg");
    height: 480px;
    max-height: 480px;
  }

  .build-basket-module__content {
    padding: 50px 20px;
    background-color: white;
    color: black;
  }
}
