.checkout {
  position: relative;
}

.checkout__head {
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 110%;
  font-size: 42px;
  font-family: Zangezi;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
}

.checkout__subhead {
  margin-bottom: 40px;
  margin-top: 0;
  line-height: 1.5;
}

.checkout__slider-item {
  width: 100% !important;
  padding: 0 !important;
}

.checkout__slider-item-img {
  height: 450px;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.checkout__content {
  z-index: 20;
  position: absolute;
  top: 50px;
  left: calc(50% - 560px);
  text-align: left;
  max-width: 380px;
  margin: 0 50px;
}

@media (max-width: 1023px) {
  .checkout__content {
    left: calc(50% - 380px);
    margin: 0;
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }

  .checkout__content {
    position: static;
    max-width: 100%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .checkout__content .button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .checkout__head {
    text-align: center;
  }

  .checkout__subhead {
    text-align: center;
  }

  .checkout__slider-item-img {
    height: 250px;
  }
}
