.custom-menu {
  background-color: var(--bg-color);
  padding: 50px 0;
}

.custom-menu__container {
  padding: 0 15px;
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.custom-menu__prehead {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 5px;
  font-family: Zangezi;
  font-weight: 400;
}

.custom-menu__head {
  font-size: 42px;
  font-family: Zangezi;
  font-weight: 400;
  line-height: 1.15;
  margin-top: 0;
  margin-bottom: 20px;
}

.custom-menu__subhead {
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.15;
}

.custom-menu__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(360px - 30px);
          flex: 0 0 calc(360px - 30px);
  padding: 0 15px;
}

.custom-menu__list .button {
  display: none;
}

.custom-menu__description__pre-head {
  font-family: Zangezi;
  margin-bottom: 5px;
}

.custom-menu__description__subhead {
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 1.15;
}

.custom-menu__description__head {
  font-family: Zangezi;
  line-height: 1.5;
}

.custom-menu__list {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(200px - 30px);
          flex: 0 0 calc(200px - 30px);
}

.custom-menu__list-link {
  display: block;
  margin-bottom: 5px;
}

.custom-menu__list-link-icon {
  color: var(--icon-color);
  margin-right: 4px;
  font-size: 15px;
}

.custom-menu__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(425px - 30px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -50px -3px -50px 0;
  padding: 0 15px;
}

.custom-menu__photos-left-photo {
  width: 230px !important;
}

.custom-menu__photos-right {
  width: 178px;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 6px;
  margin-left: 6px;
}

.custom-menu__photos-right-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 153px;
}

@media (max-width: 992px) {
  .custom-menu__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .custom-menu__photos {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin: -50px 0 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .custom-menu__photos-right-photo,
  .custom-menu__photos-left-photo {
    height: 304px;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }

  .custom-menu__photos-right {
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 6px;
       -moz-column-gap: 6px;
            column-gap: 6px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    grid-column: 2 / span 2;
  }

  .custom-menu__photos-left {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin-right: 0;
    margin-left: auto;
  }

  .custom-menu__photos-right-photo .img,
  .custom-menu__photos-left-photo .img {
    height: 100%;
    max-width: 208px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 768px) {
  .custom-menu__head {
    font-size: 36px;
  }

  .custom-menu__subhead {
    margin-bottom: 20px;
  }

  .custom-menu__description,
  .custom-menu__list {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    max-width: 440px;
  }

  .custom-menu__description .button {
    display: none;
  }

  .custom-menu__list .button {
    display: inline-block;
    margin-top: 20px;
  }

  .custom-menu__list-item {
    width: calc(50% - 15px);
    float: left;
  }
}
