.delivery-module__container {
  margin: 0 auto;
}

.delivery-module__list {
  width: 640px;
  margin: 0 auto;
  padding: 0 15px;
}

.delivery-module__head {
  font-size: 44px;
  text-align: center;
  line-height: 1.15;
  margin-bottom: 0.5em;
  font-family: Zangezi;
  margin-top: 0;
  font-weight: 400;
}

.delivery-module__panel-title {
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.delivery-module__panel-title-text {
  font-size: 17px;
  font-weight: 400;
  padding: 2.5px 0;
  margin: 0;
}

.delivery-module__panel-title:hover {
  text-decoration: underline;
}

.delivery-module__chevron {
  color: #ad8026;
  margin-right: 8px;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .delivery-module__list {
    width: calc(100% - 30px);
  }
}
