.effect-module__container {
  padding: 20px 0 30px;
  margin: 0 auto;
}

.effect-module__list {
  display: flex;
  width: 88%;
  margin: 0 auto;
}

.effect-module__item {
  padding-left: 15px;
  padding-right: 15px;
}

.effect-module__item .link {
  display: inline;
}

.effect-module__item--flavor {
  width: calc(31% - 30px);
}

.effect-module__item--organic {
  width: calc(38% - 30px);
}

.effect-module__item--menu {
  width: calc(31% - 30px);
}

.effect-module__head {
  margin-top: 2px;
  margin-bottom: 5px;
  line-height: 1.5;
  font-family: Zangezi;
  font-size: 20px;
  font-weight: 400;
}

.effect-module__subhead {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.effect-module__content {
  text-align: center;
}

.effect-module__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 210px;
}

.effect-module__img {
  width: 160px !important;
  height: 160px !important;
  object-fit: cover !important;
  display: inline-block;
  padding: 40px 20px 10px;
}

.effect-module__img--usda-organic-seal {
  width: 110px !important;
  height: 110px !important;
}

@media (max-width: 992px) {
  .kit-options-module__img {
    display: none;
  }
}

@media (max-width: 768px) {
  .effect-module__list {
    flex-wrap: wrap;
    width: 100%;
  }

  .effect-module__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    align-items: center;
  }

  .effect-module__photo {
    height: fit-content;
  }

  .effect-module__img {
    width: 125px !important;
    height: 125px !important;
    padding: 0;
    object-fit: cover;
  }

  .effect-module__item--organic {
    order: -1;
  }

  .effect-module__img--usda-organic-seal {
    width: 95px !important;
    height: 95px !important;
    padding: 15px;
  }

  .effect-module__content {
    text-align: left;
    padding-left: 12px;
  }
}
