.effect__container {
  padding: 20px 0 30px;
  margin: 0 auto;
}

.effect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 88%;
  margin: 0 auto;
}

.effect__item {
  padding-left: 15px;
  padding-right: 15px;
}

.effect__item .link {
  display: inline;
}

.effect__item--flavor {
  width: calc(31% - 30px);
}

.effect__item--organic {
  width: calc(38% - 30px);
}

.effect__item--menu {
  width: calc(31% - 30px);
}

.effect__head {
  margin-top: 2px;
  margin-bottom: 5px;
  line-height: 1.5;
  font-family: Zangezi;
  font-size: 20px;
  font-weight: 400;
}

.effect__subhead {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.effect__content {
  text-align: center;
}

.effect__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 210px;
}

.effect__img {
  width: 160px !important;
  height: 160px !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  display: inline-block;
  padding: 40px 20px 10px;
}

.effect__img--usda-organic-seal {
  width: 110px !important;
  height: 110px !important;
}

@media (max-width: 992px) {
  .kit-options__img {
    display: none;
  }
}

@media (max-width: 768px) {
  .effect__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }

  .effect__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .effect__photo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .effect__img {
    width: 125px !important;
    height: 125px !important;
    padding: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .effect__item--organic {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .effect__img--usda-organic-seal {
    width: 95px !important;
    height: 95px !important;
    padding: 15px;
  }

  .effect__content {
    text-align: left;
    padding-left: 12px;
  }
}
