.how-it-works-module {
  padding: 50px 0;
  width: 100%;
  background-color: var(--module-bg-color);
}

.how-it-works-module__head {
  font-size: 44px;
  font-family: Zangezi;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
}

.how-it-works-module__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.how-it-works-module__item {
  padding: 15px;
  display: flex;
  flex: 1 0 200px;
  flex-direction: column;
  max-width: calc(415px - 30px);
}

.how-it-works-module__img {
  position: relative;
  margin: 0 auto 30px;
  height: 200px;
  width: 200px;
}

.how-it-works-module__index {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  width: 55px;
  height: 55px;
  z-index: 2;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-module__action {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .how-it-works-module__item {
    flex: 1 0 calc(340px - 30px);
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row;
  }

  .how-it-works-module__index {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .how-it-works-module__img {
    height: 116px;
    width: 116px;
    padding: 0;
    margin: 0;
  }

  .how-it-works-module__content {
    text-align: left;
    margin-left: 15px;
  }
}
