.how-it-works {
  padding: 50px 0;
  width: 100%;
  background-color: var(--bg-color);
}

.how-it-works__head {
  font-size: 44px;
  font-family: Zangezi;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 400;
}

.how-it-works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.how-it-works__item {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: calc(415px - 30px);
}

.how-it-works__img {
  position: relative;
  margin: 0 auto 30px;
  height: 200px;
  width: 200px;
}

.how-it-works__index {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  width: 55px;
  height: 55px;
  z-index: 2;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works__action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .how-it-works__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(340px - 30px);
            flex: 1 0 calc(340px - 30px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .how-it-works__index {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .how-it-works__img {
    height: 116px;
    width: 116px;
    padding: 0;
    margin: 0;
  }

  .how-it-works__content {
    text-align: left;
    margin-left: 15px;
  }
}
