.others {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.others__container {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.others__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
  padding: 0 15px;
}

.others__img {
  height: 32px;
}

.others__text {
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
}

@media (max-width: 728px) {
  .others__item {
    margin-bottom: 20px;
  }
}
