.our-menu {
  padding: 50px 0;
}

.our-menu__container {
  margin: 0 auto;
}

.our-menu__head {
  font-size: 42px;
  font-family: Zangezi;
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: center;
  padding: 0 15px;
  line-height: 1.15;
}

.our-menu__subhead {
  text-align: center;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 20px;
}

.our-menu__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-menu__action .button {
  padding-left: 60px;
  padding-right: 60px;
}

.our-menu__main {
  margin-bottom: 40px;
}

.our-menu__slider {
  max-width: 1170px;
}

@media (max-width: 1199.5px) {
  .our-menu__slider-item {
    width: calc(324px - 30px) !important;
  }
}

@media (max-width: 992px) {
  .our-menu__slider {
    width: 626px;
    margin: 0 auto;
  }

  .our-menu__slider-item {
    width: calc(313px - 30px) !important;
  }
}

@media (max-width: 768px) {
  .our-menu__slider {
    width: 88%;
    margin: 0 auto;
  }

  .our-menu__slider-item {
    width: calc(100% - 30px) !important;
  }
}
